<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>Accueil - Plateforme Streaming</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur la plateforme de streaming</h1>
        <nav>
            <a href="/offres">Voir les Offres</a>
            <a href="/clients">Voir les Clients</a>
            <a href="/equipe">Voir l'Équipe</a>
        </nav>
    </header>

    <main>
        <section>
        <center>
            <h2>Aperçu des Offres</h2>
            <a href="/offres">Voir toutes les offres</a>
        </center>
        </section>
   
        <section>
        <center>
            <h2>Aperçu des Clients</h2>
            <a href="/clients">Voir tous les clients</a>
        </center>
        </section>

        <section>
        <center>
            <h2>L'Équipe Commerciale</h2>
            <a href="/equipe">Voir toute l'équipe</a>
        </center>
        </section>
    </main>
    <div class="carousel">
        <img src="/images/image1.jpg" alt="Image 1">
        <img src="/images/image2.jpg" alt="Image 2">
        <img src="/images/image3.jpg" alt="Image 3">
    </div>

</body>

<%- include('footer.ejs') %>

</html>

